
/* --------------------------------------------- ESTILOS BASE --------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: brown;
}

/* -------------------------------------------- MAIN ------------------------------------------*/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

/* -------------------------------------------- FORMULARIO ------------------------------------------*/
.formulario{
    width: 450px;
    height: 680px;
    background-color: beige;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.formulario__label {
    display: block;
    padding: 10px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    margin-bottom: 10px;

  
 
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 5px #5f2503;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    /* height: 45px; */
    /* line-height: 45px; */
    padding: 15px;
    border-radius: 5px;
    background: #f00;
    color:#ffecd2;
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 35px;
    background: brown;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario__btn:hover {
    background: #5f2503;
    transition: 1s;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #5f2503;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #5f2503;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #ee0f0f;
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ee0f0f;

}

.footer{
    border-top: 2px solid white;
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.diseñador{
    height: fit-content;
    width: 100%;
    display:flex;
    flex-direction: row;
}

.ft-container{
    border-top: 2px solid white;
    height: 150px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.redes{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}

.sociales{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}

.men{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: left;
    color: brown;
}

.foot{
    width: 100%;
    padding-top: 0px;
}

.diseñador{
    height: fit-content;
    width: 100%;
    display:flex;
    flex-direction: row;
    font-size: 10px;
    color: brown;
}



/* -------------------------------------------- RESPONSIVE  --------------------------------------*/

@media screen and (max-width:720px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje, 
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }

    .footer {
        grid-template: 1fr;
    }
}